{% extends "layout.html" %}
{% block content %}

    <div class="container" id="main">
        <div class="row min-vh-100 justify-content-end align-items-center align-items-lg-end">
            <div class="col-lg-5 px-xl-5 pb-lg-5 mb-lg-5 me-lg-5 text-center login-container">
                <h1 class="mb-4 sr-slide-top">Login</h1>
                <form action="" method="POST">
                    {{ form.csrf_token }}
                    <div class="mb-3 sr-slide-top">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid", placeholder=form.email.label.text, autocomplete="off") }}
                            <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control", placeholder=form.email.label.text, autocomplete="off") }}
                        {% endif %}
                    </div>
                    <div class="mb-3 sr-slide-top">
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid", placeholder=form.password.label.text) }}
                            <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between mb-4 sr-slide-bottom">
                        <div class="form-check">
                            {{ form.remember(class="form-check-input")}}{{ form.remember.label(class="form-check-label text-muted")}}
                        </div>
                        <div>
                            <a href="{{ url_for('user_authentication.reset_request') }}" class="text-muted">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="mb-2 sr-fade">
                        {{ form.submit(class="btn") }}
                    </div>
                </form>
                <div class="sr-slide-bottom">
                <small class="text-muted align-top">
                    Dont Have An Account? <a href="{{ url_for('user_authentication.register') }}">Register</a> 
                </small>
                </div>
            </div>
        </div>
    </div>

    <script>
        const template = 1;
        const templateConfig = {
            backgroundImageDesktop: "{{ url_for('static', filename='images/3.jpg') }}",
            backgroundSizeDesktop: "100vw 100vh",
            backgroundImageMobile: "{{ url_for('static', filename='images/3-2.jpg') }}",
            backgroundSizeMobile: "100vw 100vh",
        };
    </script>
    
{% endblock %}
