{% extends "layout.html" %}
{% block content %}

  <div class="container" data-template="recommender" id="main">
    <div class="row min-vh-100 justify-content-start align-items-center">
      <div class="col-lg-4 pb-lg-5 text-center game-container">
        <h1 class="mb-4 sr-slide-left">Game Recommender</h1>
        <form method="POST" onsubmit="return validateForm()"> 
          <!-- Need to return. Otherwise function runs but its output is not used to stop form submission-->
          {{ form.csrf_token }}
          {% for field in form.games %}
            <div class="mb-3 sr-slide-right">
              {{ field(class="game_name form-control", list="gameNameList", autocomplete="off", placeholder="Favourite Game " + loop.index|string) }}
            </div>
          {% endfor %}
          <div class="text-lg-start pt-2 sr-fade">
            {{ form.submit(class="btn") }}
          </div>
          <!-- Datalist element for autocomplete -->
          <datalist id="gameNameList">
            <!-- Recommended game names will be added here -->
          </datalist>
        </form>
      </div>
    </div>
  </div>

  <script>
    const template = 1;
    const templateConfig = {
      backgroundImageDesktop: "{{ url_for('static', filename='images/1.jpg') }}",
      backgroundSizeDesktop: "100vw 115vh",
      backgroundImageMobile: "{{ url_for('static', filename='images/1-2.jpg') }}",
      backgroundSizeMobile: "100vw 100vh",
    };
  </script>
  
{% endblock %}

    
