/* Game recommender */

.game-container h1 {
  color: #92111d;
}

.game-container input.form-control {
  background-color: #12161f;
  color: #fff;
  border-color: #92111d;
}

.game-container .btn {
  background-color: #92111d;
  border-color: #92111d;
  font-weight: 600;
  color: #000;
  box-shadow: 0 0 5px #92111d;
}

.game-container .btn:hover {
  background-color: #12161f;
  color: #92111d;
}

/* Recommendations */

.recommend-container a {
  background-color: #da252b;
  border-color: #da252b;
  font-weight: 600;
  color: #000;
  box-shadow: 0 0 5px #da252b;
}

.recommend-container a:hover {
  background-color: #000;
  color: #da252b;
}

/* Login */

.login-container h1 {
  color: #fbce43;
}

.login-container a {
  text-decoration: none;
  color: #fbce43;
}

.login-container a:hover {
  color: #fbce43 !important;
}

.login-container input.form-control {
  background-color: #46101e;
  color: #fff;
  border-color: #fbce43;
}

.login-container .btn {
  background-color: #fbce43;
  border-color: #fbce43;
  font-weight: 600;
  color: #46101e;
  box-shadow: 0 0 5px #fbce43;
  width: 120px;
}

.login-container .btn:hover {
  background-color: #46101e;
  color: #fbce43;
}

.login-container input.form-check-input{
  box-shadow: none;
}

.login-container input.form-check-input:checked{
  background-color: #fbce43;
  border-color: #fbce43;
}

/* Register */

.register-container h1 {
  color: #fbce43;
}

.register-container a {
  text-decoration: none;
  color: #fbce43;
}

.register-container a:hover {
  color: #fbce43 !important;
}

.register-container input.form-control {
  background-color: #271217;
  color: #fff;
  border-color: #fbce43;
}

.register-container .btn {
  background-color: #fbce43;
  border-color: #fbce43;
  font-weight: 600;
  color: #271217;
  box-shadow: 0 0 5px #fbce43;
  width: 120px;
}

.register-container .btn:hover {
  background-color: #271217;
  color: #fbce43;
}

/* Navbar and flash messages */

body .navbar {
  background-color: rgba(30,10,10,0.9);
}

.flash-messages-container {
  position: fixed;
  top: 55px;
  width: 100%;
}

/* Account container */

.account-container {
  margin-top: 13vh;
}

.account-img {
  width: 125px;
  height: 125px;
}

.content-section {
  background: rgb(30, 10, 10);
  padding: 10px 20px 20px;
  border: 1px solid rgb(40, 12, 12);
  border-radius: 8px;
  margin-bottom: 20px;
  color: whitesmoke
}

.update-button {
  background-color: rgb(20,7,7);
  font-weight: 500;
}

.large-button {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}

/* Target the scrollbar itself */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #fff; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Set the border radius of the thumb */
}
