{% extends "layout.html" %}
{% block content %}
  <style>
    body {
      background-color:black;
    } 
  </style>

  <div class="container" style="margin-top: 10vh;">
    <div class="row  justify-content-center">
        <div class="col-5">
            <!-- <h1>Multiple Game Form</h1> -->
            <form method="POST" action="#">
                {% for field in form.games %}
                <div class="mb-3">
                  {{ field(class="form-control", required="required", placeholder="Favourite Game " + loop.index|string) }}
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
  </div>
{% endblock %}

    
