{% extends "layout.html" %}
{% block content %}
  <style>
    body {
      background-color:black;
    } 
  </style>

  <div class="container" style="margin-top: 13vh;" id="main">
    <form method="POST" action="" onsubmit="return validateForm()">
    <div class="row">

        <div class="col-lg-6">
          <div class="content-section">
            
            
            <h2 class="mb-4">Present Games</h2>
            <div id="present">
              <!-- Present games -->
              {% for rating_object in game_ratings %}
              <div class="mb-3" id="input-{{ loop.index0 }}">
                <input type="text" name="games-{{ loop.index0 }}", class="game_name form-control" list="gameNameList" 
                value="{{ rating_object.game.title }}" placeholder="Game Name" autocomplete="off" required>

                <input type="number" name="ratings-{{ loop.index0 }}", class="form-control mt-1" 
                value="{{ rating_object.rating }}" min="0" max="10" placeholder="Rating (0-10)" autocomplete="off" required>
                
                <input type="button" class="btn btn-danger btn-sm mt-1" value="Delete" onclick="deleteGame('input-{{ loop.index0 }}')">
              </div>
              {% endfor %}
            </div>
            
          
          </div>
        </div>

        <div class="col-lg-6">
          <div class="content-section">

            <h2 class="mb-4">New Games Added</h2>
            <div id="new">
              <!-- New games added -->
            </div>
            
            <div class="pt-2 d-flex justify-content-between">
              <input type="button" class="btn btn-primary"  value="Add New Game" onclick="addGame()">
              <input type="submit" class="btn btn-outline-light update-button" value="Update Profile">
            </div>             

            <!-- Datalist element for autocomplete -->
            <datalist id="gameNameList">
              <!-- Recommended game names will be added here -->
            </datalist>

          </div>
        </div> 

    </div>
    </form> 
  </div>
{% endblock %}

    
