{% extends "layout.html" %}
{% block content %}
  <style>
    body {
      background-image: url("{{ url_for('static', filename='images/1.jpg') }}");
      background-size: 100vw 115vh;
    } 
    @media screen and (max-width: 992px) {
      body {
        background-image: url("{{ url_for('static', filename='images/1-2.jpg') }}");
        background-size: 100vw 100vh;
      }
    }
  </style>

  <div class="container">
    <div class="row min-vh-100 justify-content-start align-items-center">
      <div class="col-lg-4 pb-lg-5 text-center game-container ">

        <h1 class="mb-4">Game Recommender</h1>
        <form method="POST" onsubmit="return validateForm()">
          {{ form.csrf_token }}
          {% for field in form.games %}
            <div class="mb-3">
              {{ field(class="game_name form-control", list="gameNameList", placeholder="Favourite Game " + loop.index|string) }}
            </div>
          {% endfor %}
          <div class="text-lg-start pt-2">
            {{ form.submit(class="btn btn-outline") }}
          </div>
          <!-- Datalist element for autocomplete -->
          <datalist id="gameNameList">
            <!-- Recommended game names will be added here -->
          </datalist>
        </form>

      </div>
    </div>
  </div>

{% endblock %}

    
