{% extends "layout.html" %}
{% block content %}
  <style>
    body {
      background-color:black;
    } 
  </style>

  <div class="container" style="margin-top: 10vh;" id="main">
    <div class="text-center mb-4 text-light">
      <h1>Recommended Users by Common Games</h1>
    </div>
    <div class="row">
        {% for recommendation in common_recommendations %}
          {% if recommendation.recommended_games %}
            <div class="mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-header mb-2 fw-bold">User {{ loop.index }}<span class="badge bg-success ms-3">Common Games: {{ recommendation.n_common_games }}</span></h5>
                        <span class="card-subtitle fw-bold">Recommended Games:</span>
                        <ol class="list-group mt-1">
                          {% for game in recommendation.recommended_games %}
                            <li class="list-group-item"> {{ game }}</li>
                          {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
{% endblock %}

    


    
