{% extends "layout.html" %}
{% block content %}
  <style>
    body {
      background-color:black;
    } 
  </style>

  <div class="container" style="margin-top: 10vh;" id="main">
    <div class="text-center mb-4 text-light">
      <h1>Recommended Users by Common Games</h1>
    </div>
    <div class="row">
        <div>
            <a href="{{ url_for('recommended_users_common')}}" class="btn btn-primary mb-2">Recommend Users by Common Games</a>
            <a href="{{ url_for('recommended_users_similarity')}}" class="btn btn-primary">Recommend Users by Similarity</a>
        </div>     
    </div>
  </div>
{% endblock %}