{% extends "layout.html" %}
{% block content %}
  <style>
      body {
        background-image: url("{{ url_for('static', filename='images/2.jpg') }}");
        /* Additional styling */
        background-size: cover; /* Adjust as per your requirements */
        background-repeat: no-repeat;
      }
  </style>

  <div class="container py-5 my-5">
    <div class="row justify-content-end">
      <div class="col-md-5 recommend-container">
        <h1 class="text-center mb-5" style="color: #da252b;">Recommendations</h1>

        <table class="table" style="border-color: #da252b;">
          <tbody>
            {% for recommendation in recommendations %}
            <tr>
              <td>
                <div class="text-center mb-3" style="color: #fff; font-size:large">
                  {{ recommendation.game }}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="text-center mt-5">
          <a href="{{ url_for('home') }}" class="btn btn-outline">New Recommendation</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
