{% extends "layout.html" %}
{% block content %}
  <style>
    body {
      background-image: url("{{ url_for('static', filename='images/1.jpg') }}");
      background-size: 100vw 115vh;
    } 
    @media screen and (max-width: 992px) {
      body {
        background-image: url("{{ url_for('static', filename='images/1-2.jpg') }}");
        background-size: 100vw 100vh;
      }
    }
  </style>

  <script>
    $(function() {
      // Fetch the recommended game names from the server
      $.ajax({
        url: '/get_recommended_names',
        type: 'GET',
        success: function(response) {
          // Initialize the autocomplete input field with the recommended names
          $('.game_name').autocomplete({
            source: response.recommended_names
          });
        }
      });
    });
  </script>

  <div class="container">
    <div class="row min-vh-100 justify-content-start align-items-center">
      <div class="col-lg-4 pb-lg-5 text-center game-container ">

        <h1 class="mb-4">Game Recommender</h1>
        <form method="POST">
          {% for i in range(1,6) %}
            <div class="mb-3">
              <input type="text" class="game_name form-control" name="game{{ i }}_name" placeholder="Favourite Game {{i}}" required>
            </div>
          {% endfor %}
          <div class="text-lg-start pt-2">
            <input type="submit" class="btn btn-outline" value="Recommend">
          </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}

    
