{% extends "layout.html" %}
{% block content %}
  <style>
      body {
        background-image: url("{{ url_for('static', filename='images/2.jpg') }}");
        background-size: 100vw 115vh;
      } 
      @media screen and (max-width: 992px) {
        body {
          background-image: none;
          background-color: black;
        }
      }
  </style>

  <div class="container">
    <div class="row min-vh-100 justify-content-end align-items-center">
      <div class="col-lg-5 text-center recommend-container">

        <h1 class="mb-4" style="color: #da252b;">Recommendations</h1>
        <table class="table" style="border-color: #da252b;">
          <tbody>
            {% for recommendation in recommendations %}
            <tr>
              <td>
                <div class="text-center mb-3" style="color: #fff; font-size:large">
                  {{ recommendation.game }}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pt-3">
          <a href="{{ url_for('home') }}" class="btn btn-outline">New Recommendation</a>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
