{% extends "layout.html" %}
{% block content %}
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/4.jpg')}}");
            background-size: auto;
        }
        @media screen and (max-width: 992px) {
        body {
            background-image: url("{{ url_for('static', filename='images/4-2.jpg') }}");
            background-size: 100vw 100vh;
            }
        }
    </style>
    <div class="container" id="main">
        <div class="row min-vh-100 justify-content-end align-items-center">
            <div class="col-lg-5 px-xl-5 text-center register-container">
                <h1 class="mb-4">Register</h1>
                <form action="" method="POST">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid", placeholder=form.username.label.text, autocomplete="off") }}
                            <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control", placeholder=form.username.label.text, autocomplete="off") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid", placeholder=form.email.label.text, autocomplete="off") }}
                            <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control", placeholder=form.email.label.text, autocomplete="off") }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid", placeholder=form.password.label.text) }}
                            <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid", placeholder=form.confirm_password.label.text) }}
                            <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control", placeholder=form.confirm_password.label.text) }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.submit(class="btn btn-dark mt-2") }}
                    </div>
                </form>
                <div >
                    <small class="text-muted">Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a> </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
